<p>
  <%= t '.greeting', discord_name: @user.discord_name %>
</p>

<p>
  <%= t '.request_received' %>
</p>

</p>
  <%= link_to 'Change my password', "#{@redirect_url}?reset_password_token=#{@user.reset_password_token}" %>
</p>

<p>
  <%= t '.ignore' %>
  </br>
  <%= t '.no_change' %>
</p>
